body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
div {
	box-sizing: border-box;
}

header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	
padding-bottom: 218px;
}
.logo {
	margin-top: 41px;
}
.container {
	width: 940px;
	margin: 0 auto;
	position: relative;
}
nav {
	margin-top: 45px;
	float: right;
	position: sticky;
	right:0;
}
.menu {
	padding: 0;
	margin: 0;
	display: block;
}
.menu li {
	float: left;
	margin-right: 41px;
	list-style-type: none;
}
.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	transition-duration: 0.3s;
}
li a:hover {
	font-size: 15px;
	color: #fefedf;

}

.titles_first {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	color: #fff;
	font-size: 75px;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button {
	border-radius: 3px;
	background: #fed136;
	color: #484543;
	display: block;
	width: 240px;
	padding:20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
	transition-duration: 0.7s;

}
.button:hover {
	background: #ffe26e;
}
.title {
	padding-top: 115px;
}
.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}
.title p{
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
.services {
	margin-top: 140px;
}
.services_item {
	width: 270px;
	float: left;
	text-align: center;

}
.services_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}
.services_item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.6em;
}
.services_item:last-child {
	float: right;
}
.services_item:nth-child(2) {
	margin-left: 60px;
}
#services {
	padding-bottom: 180px;
}
#portfolio {
	background: #f7f7f7;
	padding-bottom: 220px;
}
.works {
	margin-top: 70px;
}
.works img {
	float:left;
}
.works img:nth-child(2) {
	margin-left: 34px;
}
.works img:last-child {
	float: right;
}
.title_about h2{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-top: 118px;
}
.title_about p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 75px;
}
.container_aboutl {
	display: flex;
	box-sizing: border-box;
	width: 940px;
	align-items: center;
	margin-bottom: 90px;
}
.container_aboutl p, h3{
	margin-right: 30px;
}
.container_aboutr {
	display: flex;
	box-sizing: border-box;
	width: 940px;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 90px;
}
.container_aboutr p, h3{
	margin-left: 30px;
}
.blokl {
	width: 377px;
	text-align: right;
}
.blokl p{
	color: #777777;
}
.blokr p{
	color: #777777;
}
.blokr {
	width: 377px;
	text-align: left;
}
.imgs {
	width: 185px;
	height: 185px;
}
.scrollup{
	width:40px;
	height:40px;
	opacity:0.3;
	position:fixed;
	bottom:50px;
	right:100px;
	display:none;
	text-indent:-9999px;
	background: url('../img/top.png') no-repeat;
}
 footer {
	font-size: 14px;
	padding-bottom: 90px;
	text-align: center;
	line-height: 40px;
	background: #f7f7f7;
}
footer p {
	margin: 0;
}